.change-image-cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .border-drop{
            background-color: #181717 ;
            border-radius: 10px;
            height: 400px;
            width: 900px;
            box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            --border-width: 3px;
            position: relative;
            font-family: sans-serif;
            font-size: 2.5rem;
            text-transform: uppercase;
            color: white;
            background: #222;
            border-radius: var(--border-width);

            &::after {
                position: absolute;
                content: "";
                top: calc(-1 * var(--border-width));
                left: calc(-1 * var(--border-width));
                z-index: -1;
                width: calc(100% + var(--border-width) * 2);
                height: calc(100% + var(--border-width) * 2);
                background: linear-gradient(
                60deg,
                hsl(224, 85%, 66%),
                hsl(269, 85%, 66%),
                hsl(314, 85%, 66%),
                hsl(359, 85%, 66%),
                hsl(44, 85%, 66%),
                hsl(89, 85%, 66%),
                hsl(134, 85%, 66%),
                hsl(179, 85%, 66%)
                );
                background-size: 300% 300%;
                background-position: 0 50%;
                border-radius: calc(2 * var(--border-width));
                animation: moveGradient 4s alternate infinite;
            }        
        }

        @keyframes moveGradient {
            50% {
                background-position: 100% 50%;
            }
        }
        button{
            margin-top:40px;
            cursor: pointer;
        }
    }
}